*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 52.5%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
    background-color: #557393;
}

label{
    text-transform: capitalize;
    font-size: 5rem;
    color: #000000;
    font-weight: 700;
}

#num{
    margin-top: 25px;
    height: 60px;
    width: 100px;
    margin-bottom: 30px;
    font-size: 3rem;
    text-align: center;
    border: 6px solid #000000;
    outline: none;
    font-weight: 600;
    border-radius: 16px;
    color:  #000000;
}
#val{
    margin-top: 25px;
    height: 55px;
    width: 250px;
    font-size: 3rem;
    text-align: center;
    border: 6px solid #000000;
    outline: none;
    font-weight: 600;
    border-radius: 16px;
    text-transform: uppercase;
    color:  #000000;
}
#sub{
    padding: 0.4em 0.9em;
    color: white;
    background:  #000000;
    border-radius: 7px;
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 25px;
    outline: none;
    text-decoration: none;
    
}
#sub:hover{
    background: #ffffff;
    color: #000000;
}
#result{
    font-size: 4rem;
    font-weight: 600;
    text-transform: capitalize;
    color: #000000;
}

@media (max-width:600px){
    html{
        font-size: 60%;
    }
    label{
        font-size: 4rem;
    }
    #result{
        font-size: 3rem;
    }
    .converter{
        padding-bottom: 100px;
    }
}